<!doctype html>
<html>
<head>
    <title>flask json</title>
    <link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <a href="https://github.com/okbm/flask_json"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

  <div class="container">
    <div class="page-header">
      <h1>python sample application</h1>
    </div>
    <p class="lead">pythonのフレームワークである"flask"を使ってシンプルなレスポンスを返す</p>

    <h2>link</h2>
    <ul style="list-style:none;">
        <li><a href="/"><code>/</code></a> this page</li>
        <li><a href="/json"><code>/json</code></a> simple json</li>
        <li><a href="/sql"><code>/sql</code></a> simple json(sql result)</li>
        <li><a href="/dummy_image"><code>/dummy_image</code></a> dummy_image(cat)</li>
    </ul>

  </div>
</body>
</html>
